* {
    margin: 0;
}

.inicio {
    background-image: url(Gyarados.jpg);
    min-height: 100vh;
    width: 100%;
    padding: 250px 0 250px 0;
    text-align: center;
    background-size: cover;

}


nav {
    position: fixed;
    padding: 19px;
    height: 25px;
    width: 100%;
    text-align: center;
    z-index: 100;
    background-color: rgba(94, 84, 84, 0.322);
}

.nav-link{
    list-style: none;
    display: inline-block;
    padding: 8px;
    margin: 2px;
}

.nav-link a{
    text-decoration: none;
    color: rgb(245, 241, 241);
    font-size: 20px;
}

.nav-link:hover{
    border-radius: 10%;
    transition: .7s;
    box-shadow: 0px 5px 0px 0px rgba(12, 38, 63, 0.596);
}

h1 {
    font-size: 50px;
    font-weight: 800px;
     background: url(Lance.jpg)
     center/cover;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     text-transform: uppercase;
    text-shadow: 0px 0px 10px cyan, 
}

.info {
    background-color: rgb(2, 41, 85);
    min-height: 100vh;
    padding: 5vh;
}

.info h1 {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(162, 243, 243),
                 0px 0px 0px cyan,
                 0px 0px 40px cyan,
                 0px 0px 80px cyan;
}

.content{
    align-items: center;
    display: flex;
    width: 100%;
    font-size: 18px;
    max-width: 60vw;
    margin: auto;
    background: rgb(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0.4px 30px rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
}

.main {
    margin-top: 0vh;
    display: inline-block;
    padding: 10px;

}

.main h2{
    font-size: 20px;
}


.main p{
    font-size: 20px;
    line-height: 23px;
}

.image-1 {
    display: flex;
    margin-top: 2vh;
    position: relative;
    align-items: center;
    margin: 5px;
    padding: 80px;
}

.image-1 img {
    max-width: 100%;
}

.project {
    padding: 60px;
    
}

.project-list {
   padding: 10px;
   display: flex;
   flex-wrap: wrap;
   text-align: center;

}

.project h2 {
    padding: 20px;
}

.project-list div{
    padding: 1px;
    margin: 20px;
}

.project img {
    height: 200px;
    width: 200px;
    border-radius: 30px;
}

.project img:hover {
    border-radius: 0%;
    transition: 0.5s;
}

@media screen and (max-width: 1075px) {
    .content{
        width: 70vh;
        flex-direction: column;
    }
}

@media screen and (max-width: 720px) {
    * {
        width:auto;
    }

   .nav-link {
    
    margin: auto;

   }

    .container {

        width: auto;
        height: 100vh;
    }

    .image-1 {
        padding: 30px;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
    }
   
}
